<%- include("header") -%>
<%- include("navbar") -%>
<h2 class="box" id="heading">About</h2>
<p class="about">This app provides you to write your daily tasks and when the tasks are completed you can select those tasks as completed</p>
<p class="about">This App is Developed by Muhammad Umair at CodeChasers.</p>
<%- include("footer") -%>
